[submodule "01_ft_printf"]
	path = 01_ft_printf
	url = https://github.com/zhy2on/42cursus_01_ft_printf.git
[submodule "01_netwhat"]
	path = 01_netwhat
	url = https://github.com/zhy2on/42cursus_01_netwhat
