[submodule "01_ft_printf"]
	path = 01_ft_printf
	url = https://github.com/zhy2on/42cursus_01_ft_printf.git
[submodule "01_netwhat"]
	path = 01_netwhat
	url = https://github.com/zhy2on/42cursus_01_netwhat
[submodule "01_Born2beroot"]
	path = 01_Born2beroot
	url = https://github.com/zhy2on/42cursus_01_Born2beroot.git
[submodule "02_minitalk"]
	path = 02_minitalk
	url = https://github.com/zhy2on/42cursus_02_minitalk.git
[submodule "02_fract-ol"]
	path = 02_fract-ol
	url = https://github.com/zhy2on/42cursus_02_fract-ol.git
[submodule "02_push_swap"]
	path = 02_push_swap
	url = https://github.com/zhy2on/42cursus_02_push_swap.git
[submodule "03_Philosophers"]
	path = 03_Philosophers
	url = https://github.com/zhy2on/42cursus_03_Philosophers.git
[submodule "03_minishell"]
	path = 03_minishell
	url = https://github.com/zhy2on/42cursus_03_minishell
[submodule "04_CPP_Module"]
	path = 04_CPP_Module
	url = https://github.com/zhy2on/42cursus_04_CPP_Module.git
[submodule "04_miniRT"]
	path = 04_miniRT
	url = https://github.com/zhy2on/42cursus_04_miniRT.git
